<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Employees</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>NIK</th>
          <th>Name</th>
          <th>Division</th>
          <th>Position</th>
          <th>Type</th>
          <th>Last Position</th>
          <th>Created Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <td>{{employee.nik}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.divisionId}}</td>
          <td>{{employee.positionId}}</td>
          <td>{{employee.type}}</td>
          <td>{{employee.lastPosition}}</td>
          <td>{{employee.createdDate}}</td>
          <td><button class="btn btn-primary" (click)="updateEmployee(employee)">Edit</button> <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add Employee</a>
  </div>
</div>

